.grid-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.grid-col-12of12 {
    width: 100%;
}

.grid-col-8of12 {
    width: 66.6666666%;
    position: relative;
    padding-right: 2%;
    /* left: 40%; */
    float: right;
    right: 4%;
    display: block;
}

.grid-col-6of12 {
    width: 54%;
    position: relative;
    padding-right: 2%;
    /* left: 40%; */
    float: right;
    right: 4%;
    display: block;
}

.grid-col-4of12 {
    width: 33.3333333%;
}

.grid-col-3of12 {
    width: 25%;
}

@media (max-width: 64em) {
    .works-image {
        width: 100%;
    }
    
    .works-element {
        width: 80%;
        padding-top: 30%;
        padding-left: 3%;
        padding-right: 3%;
    }
    
    .project-analysis p, h4, h3, h2 {
        width: 90%;
        padding: 2%;
    }
    
    .btn2, .btn2:hover {
        margin: 2%;
        width: 30%;
        padding: 1em;
    }
    
    .section-element p {
        width: 100%;
    } 
}
